<!DOCTYPE html>
<html lang="en"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="_shared/_layout">

<div layout:fragment="content">
    <h1>Details</h1>
    <p>
    <table  class="table table-striped table-bordered" th:object="${product}">
        <thead>
        <tr>
            <th>Property</th>
            <th>Value</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>Id</td>
            <td th:text="*{productId}"></td>
        </tr>
        <tr>
            <td>Title</td>
            <td th:text="*{productName}"></td>
        </tr>
        <tr>
            <td>Weight</td>
            <td th:text="*{weight}"></td>
        </tr>
        <tr>
            <td>Price</td>
            <td th:text="*{price}"></td>
        </tr>
        <tr>
            <td>Category</td>
            <td th:text="*{category}"></td>
        </tr>
        </tbody>
    </table>
    </p>
</div>
</html>